* {
    background-color: white;
    
}

#timetable { 
	position: relative;
	top: 50px;
	outline: 3px solid black;
	font-size: 0;
	margin: auto;
	height: 800px;
	width: 800px;
	padding: 0;
	border: none;
}


.event {
    /*As planned, we should have a small margin between boxes*/
	margin: 2px;
	padding: 0;
	border: none;
	outline: 1px solid black;
	display: inline-block;
}