* {
    background-color: white;
    
}

#timetable {
	position: relative;
	top: 50px;
	outline:3px solid #000;
	font-size: 0;
	margin:auto;
	height:800px;
	width:800px;
	padding: 0;
	border: none;
}


.event {
	margin:0;
	padding:0;
	border:none;
	outline:1px solid #000;
	display:inline-block;
}